html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}
.header,
.header-push,
.footer,
.footer-push {
  height: 50px;
}
.header-push {
  margin-bottom: 20px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
}
input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 5px black;
}
.header,
.footer {
  background: black;
  color: white;
  text-align: center;
  z-index: 5;
}
.header h1,
.footer h1,
.header p,
.footer p {
  line-height: 50px;
  margin: 0;
}
.header a,
.footer a {
  color: white;
}
a {
  word-wrap: break-word;
}
h1 {
  font-size: 29px;
}
h1 a {
  text-decoration: none;
  word-wrap: break-word;
}
.footer {
  margin-top: -50px;
}
#main-container {
  min-height: 100%;
}
.clear-fix {
  clear: both;
}
@media (max-width: 800px) {
  .main-content div.post-image-holder {
    height: 100px;
    width: 150px;
  }
  .main-content .main-list-item .post-segment.second {
    width: 300px;
  }
  .main-content .big {
    display: none;
  }
  .main-content .small {
    display: inline-block;
  }
  .main-content .small-left,
  .main-content .small-right {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .main-content .small-left {
    max-width: 60%;
    float: left;
  }
  .main-content .small-right {
    max-width: 40%;
    float: right;
  }
}
@media (max-width: 470px) {
  .main-content {
    text-align: center;
  }
  .main-content div.small {
    width: 100%;
  }
  .main-content .main-list-item {
    margin: 20px 0;
    border-bottom: none;
    background: none;
  }
  .main-content div.post-image-holder.post-segment {
    height: 200px;
    width: 100%;
    margin: auto;
    display: block;
  }
  .main-content .main-list-item .post-segment.second {
    padding: 0;
    width: 100%;
  }
  .small-line {
    margin: 0 0 10px 0;
  }
}
.main-content {
  width: 100%;
  max-width: 700px;
  margin: auto;
  position: relative;
}
.main-content .top-title {
  text-align: center;
}
.main-content .bottom-margin {
  margin-bottom: 20px;
}
.main-content .tag-link {
  margin: 5px;
  display: inline-block;
  text-decoration: underline;
  color: #9330e1;
  cursor: pointer;
}
.small {
  display: none;
}
.no-dec-link {
  text-decoration: none;
  font-weight: 700;
}
.main-list-item {
  margin: 0 0 20px 0;
  border-bottom: 1px black solid;
  background: #f2f6ff;
}
.main-list-item .post-image-holder {
  cursor: pointer;
}
.post-segment {
  display: inline-block;
  vertical-align: top;
}
.post-segment.second {
  width: 500px;
  box-sizing: border-box;
  padding: 10px;
}
.post-segment .title {
  font-size: 30px;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
  transition: text-shadow 0.5s ease;
}
.post-segment .title:hover {
  text-shadow: #8989ee 1px 1px 5px;
}
.post-segment a {
  color: #9330e1;
}
.description-box {
  max-width: 400px;
  padding: 0 10px;
  width: 100%;
}
.post-image-holder {
  background: black;
  width: 200px;
  height: 130px;
}
.post-image-holder .post-image {
  width: 100%;
  height: 100%;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.post-image-holder .post-image:hover {
  filter: brightness(1.5);
  -webkit-filter: brightness(1.5);
  -moz-filter: brightness(1.5);
}
#back-button {
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  background: #af0000;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
#back-button:hover {
  background: #db1616;
}
.details {
  background: #f2f6ff;
  padding: 5px;
  border-radius: 5px;
}
/*# sourceMappingURL=styles.css.map */